<div class="sidebar-nav-links">
  <a class="sidebar-nav-social"
     href="https://stackoverflow.com/users/4367485/simpert">
        <img src="{{ site.url }}/public/images/stackoverflow.png" alt="StackOverflow">
    </a>
  <a class="sidebar-nav-social"
     href="https://github.com/simpert">
        <img src="{{ site.url }}/public/images/github.png" alt="GitHub">
    </a>
  <a class="sidebar-nav-social"
     href="https://www.facebook.com/tommy.simper">
        <img src="{{ site.url }}/public/images/facebook.png" alt="Facebook">
    </a>
  <a class="sidebar-nav-social"
     href="https://www.linkedin.com/in/tommy-simper-39858a55/">
        <img src="{{ site.url }}/public/images/linkedin.png" alt="LinkedIn">
    </a>
  <a class="sidebar-nav-social"
     href="https://twitter.com/TommySimper">
        <img src="{{ site.url }}/public/images/twitter.png" alt="twitter">
    </a>
  <a class="sidebar-nav-social"
     href="/atom.xml">
        <img src="{{ site.url }}/public/images/atom.png" alt="atom">
    </a>
</div>