<div class="sidebar-nav-links">
  <a href="https://stackoverflow.com/users/4367485/simpert">
        <img src="{{ site.url }}/public/so.png" alt="StackOverflow">
    </a>
  <a href="https://github.com/simpert">
        <img src="{{ site.url }}/public/github.png" alt="GitHub">
    </a>
  <a href="https://www.facebook.com/tommy.simper">
        <img src="{{ site.url }}/public/fb.png" alt="Facebook">
    </a>
  <a href="https://www.linkedin.com/in/tommy-simper-39858a55/">
        <img src="{{ site.url }}/public/li.png" alt="LinkedIn">
    </a>
  <a href="https://twitter.com/TommySimper">
        <img src="{{ site.url }}/public/twitter.png" alt="twitter">
    </a>
  <a href="/atom.xml">
        <img src="{{ site.url }}/public/atom.png" alt="atom">
    </a>
</div>